@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --spacing-mobile: 480px;
  --spacing-navbar: 64px;

  --font-sans: var(--font-pretendard);
  --font-gowun: var(--font-gowun-dodum);

  --color-primary-100: #fde6f2;
  --color-primary-200: #f9a3cf;
  --color-primary-300: #f565b3;
  --color-primary-500: #f12b95;
  --color-primary-700: #7a0f4a;
  --color-secondary-300: #3b82f6;
  --color-secondary-500: #4f46e5;
  --color-white: #f4f4f4;
  --color-black: #2e2e2e;
  --color-gray: #8b8b8b;
  --color-gray-light: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
